openapi: 3.1.2
info:
  title: Jointl REST API and OAuth
  version: 1.0.0
  summary: Supported public HTTP contract for Jointl third-party connections.
  description: HTTP contract for Jointl REST operations, OAuth, and Zapier subscription and action endpoints. Jointl does not provide a public sandbox.
  termsOfService: https://join.tl/legal/terms-of-service
  contact:
    name: Jointl Support
    url: https://join.tl
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
  - url: https://api.join.tl
    description: Jointl production API
tags:
  - name: OAuth
    description: OAuth 2.0 and OpenID Connect endpoints.
  - name: Discovery
    description: OAuth resource and issuer discovery.
  - name: Operations
    description: Permission-filtered read operations.
  - name: Actions
    description: Prepare, human approval, and confirmation.
  - name: Zapier
    description: Endpoints restricted to the approved Jointl Zapier app.
paths:
  /oauth/authorize:
    get:
      tags:
        - OAuth
      operationId: authorizeOAuthClient
      summary: Authorize an approved OAuth client
      description: Starts authorization code flow. PKCE S256 and an exact resource indicator are required.
      security: []
      parameters:
        - name: client_id
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: true
          schema:
            type: string
            format: uri
        - name: response_type
          in: query
          required: true
          schema:
            type: string
            const: code
        - name: scope
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
        - name: code_challenge
          in: query
          required: true
          schema:
            type: string
            minLength: 43
            maxLength: 128
        - name: code_challenge_method
          in: query
          required: true
          schema:
            type: string
            const: S256
        - name: resource
          in: query
          required: true
          schema:
            type: string
            enum:
              - https://api.join.tl/api/v1
              - https://mcp.join.tl
        - name: nonce
          in: query
          required: false
          schema:
            type: string
      responses:
        "302":
          description: Redirect to the Jointl authorization interaction or registered client redirect URI.
          headers:
            Location:
              schema:
                type: string
                format: uri
        "400":
          $ref: "#/components/responses/OAuthError"
  /oauth/token:
    post:
      tags:
        - OAuth
      operationId: exchangeOAuthToken
      summary: Exchange or refresh an OAuth token
      description: Exchanges an authorization code with its PKCE verifier, or rotates a refresh token.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/OAuthTokenRequest"
      responses:
        "200":
          description: Token issued.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthTokenResponse"
        "400":
          $ref: "#/components/responses/OAuthError"
        "401":
          $ref: "#/components/responses/OAuthError"
        "429":
          $ref: "#/components/responses/RateLimited"
  /oauth/revoke:
    post:
      tags:
        - OAuth
      operationId: revokeOAuthToken
      summary: Revoke an OAuth token
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/OAuthRevocationRequest"
      responses:
        "200":
          description: Revocation request accepted.
        "429":
          $ref: "#/components/responses/RateLimited"
  /oauth/jwks:
    get:
      tags:
        - OAuth
      operationId: getOAuthJwks
      summary: Get JSON Web Key Set
      security: []
      responses:
        "200":
          description: Current signing keys.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Jwks"
  /oauth/userinfo:
    get:
      tags:
        - OAuth
      operationId: getOAuthUserInfo
      summary: Get OpenID Connect UserInfo
      security:
        - JointlOAuth:
            - openid
      responses:
        "200":
          description: Authorized user claims.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /.well-known/oauth-authorization-server/oauth:
    get:
      tags:
        - Discovery
      operationId: getOAuthAuthorizationServerMetadata
      summary: Get OAuth authorization-server metadata
      security: []
      responses:
        "200":
          description: Authorization-server metadata.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationServerMetadata"
  /.well-known/openid-configuration/oauth:
    get:
      tags:
        - Discovery
      operationId: getOpenIdConfiguration
      summary: Get OpenID Connect discovery metadata
      security: []
      responses:
        "200":
          description: OpenID Provider metadata.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthorizationServerMetadata"
  /.well-known/oauth-protected-resource/api/v1:
    get:
      tags:
        - Discovery
      operationId: getRestProtectedResourceMetadata
      summary: Get REST protected-resource metadata
      security: []
      responses:
        "200":
          description: Protected-resource metadata.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProtectedResourceMetadata"
  /api/v1/operations:
    get:
      tags:
        - Operations
      operationId: listAvailableOperations
      summary: List available operations
      description: Returns only operations allowed by the credential scope and the member’s current permissions.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      responses:
        "200":
          description: Available operation metadata.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      operations:
                        type: array
                        items:
                          $ref: "#/components/schemas/OperationMetadata"
                    required:
                      - operations
                    additionalProperties: false
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
  /api/v1/operations/{operationId}:
    post:
      tags:
        - Operations
      operationId: executeReadOperationById
      summary: Dispatch a read operation
      description: 'Calls a documented read operation by ID. Send its input object directly or wrapped as `{ "input": ... }`.'
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      parameters:
        - name: operationId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: {}
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
  /api/v1/operations/workspace.get:
    post:
      tags:
        - Operations
      operationId: executeWorkspaceGet
      summary: Get workspace access
      description: |-
        Return the current Jointl workspace and the access granted to the member.

        Use when: Call once at the start of a task that depends on workspace identity, company scope, or permissions; do not use it to discover domain records. Returns: workspace ID, workspace name, member identity, accessible companies, and granted permission keys.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceGetInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WorkspaceGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  companyScope:
                    mode: all
                  grantedPermissions:
                    - flows.view
                  member:
                    id: member_example_01
                    name: Ada Example
                    roleId: owner
                  name: Example Workspace
                  workspaceId: workspace_example_01
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: workspace.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Call once at the start of a task that depends on workspace identity, company scope, or permissions; do not use it to discover domain records
      x-jointl-side-effects: Read-only.
  /api/v1/operations/workspace.search:
    post:
      tags:
        - Operations
      operationId: executeWorkspaceSearch
      summary: Search Jointl
      description: |-
        Quickly search the connected workspace across authorized people, emails, attributes, companies, tags, job titles, and Flows using the same permissions and relevance ranking as the Jointl UI. An optional source-type filter is applied before ranking. Returns at most 30 top matches and is not an exhaustive list.

        Use when: Use for quick entity lookup from a name, email, attribute, company, tag, job title, or Flow phrase; optionally restrict source types before ranking, and use a domain list or analytics operation for complete cohorts. Returns: ranked matches in `sourceRecords`, suggested next operations in `followUpOperations`, result counts, the applied limit, and `exhaustive: false`.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkspaceSearchInput"
            example:
              query: Ada Example
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/WorkspaceSearchResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  exhaustive: false
                  items:
                    - entityId: applicant_example_01
                      entityType: applicant
                      followUpOperations:
                        - input:
                            applicantId: applicant_example_01
                            includeEvidence: true
                          operationId: checks.get
                      label: Ada Example
                      sourceRecords:
                        - applicantId: applicant_example_01
                          companyName: Example Company
                          entityId: applicant_example_01
                          entityType: applicant
                          label: Applicant
                          primary: Software Engineer
                          route: /checks/applicant_example_01
                          statusLabels:
                            - className: new
                              label: New
                              value: new
                  query: Ada Example
                  resultLimit: 30
                  returnedCount: 1
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: workspace.search
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use for quick entity lookup from a name, email, attribute, company, tag, job title, or Flow phrase; optionally restrict source types before ranking, and use a domain list or analytics operation for complete cohorts
      x-jointl-side-effects: Read-only.
  /api/v1/operations/companies.list:
    post:
      tags:
        - Operations
      operationId: executeCompaniesList
      summary: List companies
      description: |-
        List Jointl companies visible through the member’s current company scope.

        Use when: Use before a scoped Flow, Employee import, or other action needs an exact Jointl company ID. Returns: a cursor-paginated list of company IDs, names, statuses, and creation timestamps.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompaniesListInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/CompaniesListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  hasMore: false
                  items:
                    - _id: _id_example_01
                      name: Ada Example
                      status: active
                  nextCursor: null
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: companies.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use before a scoped Flow, Employee import, or other action needs an exact Jointl company ID
      x-jointl-side-effects: Read-only.
  /api/v1/operations/flows.list:
    post:
      tags:
        - Operations
      operationId: executeFlowsList
      summary: List Flows
      description: |-
        List Flows available through the member’s role, sharing, ownership, and company access.

        Use when: Use to browse or filter a Flow cohort; use flows.get for one Flow or flows.blueprint.get only for authoring a revision. Returns: a cursor-paginated list of Flow summaries with activity, company, tags, type, status, and IDs.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowsListInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FlowsListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  hasMore: false
                  items:
                    - _id: _id_example_01
                      status: active
                      title: Example title
                      type: HIRING_REVIEW
                  nextCursor: null
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: flows.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use to browse or filter a Flow cohort; use flows.get for one Flow or flows.blueprint.get only for authoring a revision
      x-jointl-side-effects: Read-only.
  /api/v1/operations/flows.get:
    post:
      tags:
        - Operations
      operationId: executeFlowsGet
      summary: Get Flow
      description: |-
        Get one visible Flow. Sensitive automation tokens are never returned.

        Use when: Use for the operational details of one Flow; use flows.blueprint.get instead when preparing a draft revision. Returns: the authorized Flow details, related company, job role, tags, sharing members, and automation status summaries.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowsGetInput"
            example:
              flowId: flowid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FlowsGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  _id: _id_example_01
                  status: active
                  title: Example title
                  type: HIRING_REVIEW
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: flows.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use for the operational details of one Flow; use flows.blueprint.get instead when preparing a draft revision
      x-jointl-side-effects: Read-only.
  /api/v1/operations/flows.capabilities.get:
    post:
      tags:
        - Operations
      operationId: executeFlowsCapabilitiesGet
      summary: Get Flow authoring capabilities
      description: |-
        Read supported Flow types, sections, question types, valid section ordering, current authoring permissions, and protected actions before proposing a Flow.

        Use when: Call before creating or substantially redesigning a Flow so the proposed design uses only supported sections and question types. Returns: supported types and sections, authoring limits, current write access, the authoring protocol, and protected actions.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowsCapabilitiesGetInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FlowsCapabilitiesGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  authoringProtocol:
                    - example
                  decisionSupport: {}
                  draftWriteSupport: {}
                  flowTypes:
                    - {}
                  liveAccess: {}
                  protectedActions:
                    - example
                  sections:
                    - {}
                  structuredReferenceQuestionTypes:
                    - {}
                  supportedAuthoredQuestionTypes: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: flows.capabilities.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Call before creating or substantially redesigning a Flow so the proposed design uses only supported sections and question types
      x-jointl-side-effects: Read-only.
  /api/v1/operations/flows.templates.list:
    post:
      tags:
        - Operations
      operationId: executeFlowsTemplatesList
      summary: List Flow templates
      description: |-
        List visible Private and Public Jointl Library templates in one category, including their questions, so an assistant can reuse workspace content and valid IDs.

        Use when: Use to browse one exact template category or inspect all questions in matching templates; use flows.questions.search for cross-category relevance search. Returns: template IDs and titles with complete question blocks for the returned templates, plus indicators telling the assistant to increase the limit or narrow the query when results were truncated.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowsTemplatesListInput"
            example:
              kind: preScreening
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FlowsTemplatesListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  catalogScanTruncated: false
                  hasMore: false
                  items:
                    - {}
                  kind: private
                  totalMatchedInScan: 1
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: flows.templates.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use to browse one exact template category or inspect all questions in matching templates; use flows.questions.search for cross-category relevance search
      x-jointl-side-effects: Read-only.
  /api/v1/operations/flows.questions.search:
    post:
      tags:
        - Operations
      operationId: executeFlowsQuestionsSearch
      summary: Search Flow questions
      description: |-
        Search relevant questions across visible pre-screening, assessment, test, reference, exit, and Team Pulse templates without loading entire catalogs into the assistant context.

        Use when: Use first when finding reusable questions for a use case across one or more categories; do not load entire template catalogs just to search. Returns: relevance-ranked question and template IDs, prompts, types, options, matched terms, and search coverage details.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowsQuestionsSearchInput"
            example:
              query: Ada Example
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FlowsQuestionsSearchResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  catalogScanTruncated: false
                  hasMore: false
                  items:
                    - {}
                  searchedQuestionCount: 1
                  searchedTemplateCount: 1
                  totalMatchedInScan: 1
                  truncatedKinds:
                    - example
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: flows.questions.search
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use first when finding reusable questions for a use case across one or more categories; do not load entire template catalogs just to search
      x-jointl-side-effects: Read-only.
  /api/v1/operations/flows.referenceTemplates.list:
    post:
      tags:
        - Operations
      operationId: executeFlowsReferenceTemplatesList
      summary: List manual reference templates for a Flow
      description: |-
        List the exact reference forms configured for manual collection on one visible Flow.

        Use when: Use before requesting a reference so the action receives a valid template ID configured on the selected Check’s Flow. Returns: ordered reference template IDs, titles, icons, and types configured on the Flow.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowsReferenceTemplatesListInput"
            example:
              flowId: flowid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FlowsReferenceTemplatesListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  items:
                    - {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: flows.referenceTemplates.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use before requesting a reference so the action receives a valid template ID configured on the selected Check’s Flow
      x-jointl-side-effects: Read-only.
  /api/v1/operations/flows.blueprint.get:
    post:
      tags:
        - Operations
      operationId: executeFlowsBlueprintGet
      summary: Get complete Flow blueprint
      description: |-
        Read one visible Flow’s latest editable configuration and expanded question/template design. Sensitive automation tokens and protected automation settings are excluded.

        Use when: Use only before flows.draft.revise so the latest revision token and complete supported design can be preserved. Returns: the editable Flow metadata, expanded design, revision token, and indicators for settings that must be managed separately.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FlowsBlueprintGetInput"
            example:
              flowId: flowid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FlowsBlueprintGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  design: {}
                  editableDesign: {}
                  flow: {}
                  revision: 2026-01-15T10:30:00.000Z
                  safety: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: flows.blueprint.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use only before flows.draft.revise so the latest revision token and complete supported design can be preserved
      x-jointl-side-effects: Read-only.
  /api/v1/operations/performance.operations.get:
    post:
      tags:
        - Operations
      operationId: executePerformanceOperationsGet
      summary: Get Glow Moments and Team Pulse operations
      description: |-
        Read one visible Performance Flow’s participants, cadence, recent Glow Moments and Team Pulse cycles, and completion state. Shareable participant and scoreboard links are returned only when explicitly requested.

        Use when: Use after flows.get for a Performance Flow when the user needs cycle progress, a cycle ID, or an explicitly requested participant/scoreboard link. Returns: the Performance configuration and recent cycles visible to the member; optional participant and scoreboard links include an explicit sharing warning.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PerformanceOperationsGetInput"
            example:
              flowId: flowid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/PerformanceOperationsGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  capabilityWarning: Treat returned URLs as private bearer capabilities and share them only with the intended recipient.
                  flow: {}
                  glowMoments: {}
                  teamPulse: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: performance.operations.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after flows.get for a Performance Flow when the user needs cycle progress, a cycle ID, or an explicitly requested participant/scoreboard link
      x-jointl-side-effects: Read-only.
  /api/v1/operations/checks.list:
    post:
      tags:
        - Operations
      operationId: executeChecksList
      summary: List Checks
      description: |-
        List Checks visible through the member’s role, sharing, creator, manager, and company permissions.

        Use when: Use to browse or filter Checks and obtain applicant IDs; use checks.analytics for comparisons and checks.get for one person. Returns: a cursor-paginated list of authorized Check summaries, Flow context, statuses, progress, and IDs.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChecksListInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ChecksListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  hasMore: false
                  items:
                    - _id: _id_example_01
                      firstName: Ada
                      flowId: flowid_example_01
                      lastName: Example
                      status: active
                  nextCursor: null
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: checks.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use to browse or filter Checks and obtain applicant IDs; use checks.analytics for comparisons and checks.get for one person
      x-jointl-side-effects: Read-only.
  /api/v1/operations/checks.analytics:
    post:
      tags:
        - Operations
      operationId: executeChecksAnalytics
      summary: Analyze Check evidence
      description: |-
        Return a paginated, evidence-based ranking within each visible Flow, including matching scores, measured high and low evidence, evidence coverage, and verification state. It never recommends an employment decision.

        Use when: Use first for top-candidate, ranking, strengths, weaknesses, or cohort-comparison requests; follow nextOffset until null when the complete filtered cohort is required. Returns: per-Flow factual ranks, scores, evidence summaries, coverage and verification signals, cohort counts, pagination, and guidance for human review.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChecksAnalyticsInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ChecksAnalyticsResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  evaluatedCandidateCount: 1
                  exactCohort: false
                  flowCohorts:
                    - {}
                  hasMore: false
                  items:
                    - applicantId: applicantid_example_01
                      detailOperation: checks.get
                      evidenceSummary: evidencesummary_example_01
                      matchingScore: 75
                      matchingScorePercent: 75
                      name: Ada Example
                      rankWithinFlow: 1
                      scoredCandidateCount: 75
                  nextOffset: 1
                  offset: 1
                  returnedCandidateCount: 1
                  safety: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: checks.analytics
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use first for top-candidate, ranking, strengths, weaknesses, or cohort-comparison requests; follow nextOffset until null when the complete filtered cohort is required
      x-jointl-side-effects: Read-only.
  /api/v1/operations/checks.get:
    post:
      tags:
        - Operations
      operationId: executeChecksGet
      summary: Get one Check
      description: |-
        Return the profile, Flow context, recent visible activity, and optional condensed evidence for one authorized Check. Sensitive access tokens are never returned.

        Use when: Use after search, list, or analytics when one Check needs contextual detail; use checks.report only for the full itemized assessment and reference report. Returns: profile metadata and recent activity, evidenceIncluded, and either condensed pre-screening, matching, work and reference evidence or null.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChecksGetInput"
            example:
              applicantId: applicantid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ChecksGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  evidence: {}
                  evidenceIncluded: false
                  profile: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: checks.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after search, list, or analytics when one Check needs contextual detail; use checks.report only for the full itemized assessment and reference report
      x-jointl-side-effects: Read-only.
  /api/v1/operations/checks.report:
    post:
      tags:
        - Operations
      operationId: executeChecksReport
      summary: Get Check report
      description: |-
        Return the authorized full factual Check report, including open-text answers, answered AI follow-ups, Tests, reference narratives and integrity context, employment confirmations, attributes, and scores—but no hiring recommendation.

        Use when: Use after checks.analytics for every candidate relevant to a comparative conclusion, or after checks.get when complete itemized evidence is needed; do not rely on rating and score summaries alone. Returns: the itemized authorized Check report with factual narrative and measured evidence; it never returns a recommendation or reference responses the member cannot access.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChecksReportInput"
            example:
              applicantId: applicantid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ChecksReportResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  assessment: {}
                  company: {}
                  crossVerifiedAttributeScores:
                    - {}
                  flow: {}
                  flowRequest: {}
                  keyAchievements:
                    - {}
                  matchingScore: 75
                  preScreening: {}
                  references:
                    - {}
                  referencesAvgMetrics:
                    - {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: checks.report
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after checks.analytics for every candidate relevant to a comparative conclusion, or after checks.get when complete itemized evidence is needed; do not rely on rating and score summaries alone
      x-jointl-side-effects: Read-only.
  /api/v1/operations/checks.verifications.get:
    post:
      tags:
        - Operations
      operationId: executeChecksVerificationsGet
      summary: Get verification results for a Check
      description: |-
        Return the verification types available to the member and their latest results for one authorized Check. Image content is not returned.

        Use when: Use after a verification.completed or verification.failed Zapier event, or to inspect which verification types are available, active, complete, locked, or missing required details. Returns: verification types available through the member’s permissions and workspace plan, the latest run status and findings for each type, and Check eligibility state.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChecksVerificationsGetInput"
            example:
              applicantId: applicantid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ChecksVerificationsGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  applicantId: applicantid_example_01
                  canRunAny: false
                  serviceUnavailable: false
                  verificationEligibility: {}
                  verifications:
                    - {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: checks.verifications.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - zapier
      x-jointl-mcp-exposed: false
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after a verification.completed or verification.failed Zapier event, or to inspect which verification types are available, active, complete, locked, or missing required details
      x-jointl-side-effects: Read-only.
  /api/v1/operations/checks.publicProfiles.get:
    post:
      tags:
        - Operations
      operationId: executeChecksPublicProfilesGet
      summary: Get public profile results for a Check
      description: |-
        Return the latest public-profile discovery results visible for one authorized Check. Image content is not returned.

        Use when: Use after a public_profiles.completed or public_profiles.failed Zapier event, or to inspect a previously completed public-profile discovery run. Returns: the latest and previous completed discovery states, public profile matches available to the member, graph summary, and availability state.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChecksPublicProfilesGetInput"
            example:
              applicantId: applicantid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ChecksPublicProfilesGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  entitled: false
                  latestRun: {}
                  previousCompletedRun: {}
                  serviceUnavailable: false
                  subjectRef: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: checks.publicProfiles.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - zapier
      x-jointl-mcp-exposed: false
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after a public_profiles.completed or public_profiles.failed Zapier event, or to inspect a previously completed public-profile discovery run
      x-jointl-side-effects: Read-only.
  /api/v1/operations/references.list:
    post:
      tags:
        - Operations
      operationId: executeReferencesList
      summary: List reference responses for a Check
      description: |-
        List authorized reference request and completion summaries for one visible Check with stable cursor pagination.

        Use when: Use to retrieve every reference for a Check or find a reference ID before retrieving one complete response. Returns: a cursor-paginated list of reference IDs, referee identity, type, status, and lifecycle times.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReferencesListInput"
            example:
              applicantId: applicantid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ReferencesListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  hasMore: false
                  items:
                    - applicantId: applicantid_example_01
                      createdAt: 2026-01-15
                      id: id_example_01
                      status: active
                  nextCursor: null
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: references.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use to retrieve every reference for a Check or find a reference ID before retrieving one complete response
      x-jointl-side-effects: Read-only.
  /api/v1/operations/references.get:
    post:
      tags:
        - Operations
      operationId: executeReferencesGet
      summary: Get one reference response
      description: |-
        Return one authorized, normalized reference response and its Check-level average metrics.

        Use when: Use after references.list or a reference.completed event when the complete submitted response is needed. Returns: the complete reference response available to the member and average reference metrics.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReferencesGetInput"
            example:
              referenceId: referenceid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/ReferencesGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: references.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after references.list or a reference.completed event when the complete submitted response is needed
      x-jointl-side-effects: Read-only.
  /api/v1/operations/employees.list:
    post:
      tags:
        - Operations
      operationId: executeEmployeesList
      summary: List Employees
      description: |-
        List Employees visible through the member’s role, sharing, manager, creator, and company permissions.

        Use when: Use to browse or filter Employees and obtain Employee IDs; use employees.analytics for performance comparisons and employees.get for one person. Returns: a cursor-paginated list of authorized Employee summaries with company, position, manager, tags, status, and IDs.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeesListInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeesListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  hasMore: false
                  items:
                    - _id: _id_example_01
                      companyId: companyid_example_01
                      fullName: Ada Example
                      positionTitle: Example title
                      status: active
                  nextCursor: null
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: employees.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use to browse or filter Employees and obtain Employee IDs; use employees.analytics for performance comparisons and employees.get for one person
      x-jointl-side-effects: Read-only.
  /api/v1/operations/employees.analytics:
    post:
      tags:
        - Operations
      operationId: executeEmployeesAnalytics
      summary: Analyze Employee performance evidence
      description: |-
        Return a pageable factual ranking and review signals from Team Pulse and Glow Moments for only the Employees visible to the member. It never recommends an employment decision.

        Use when: Use first for best-performer, needs-attention, strengths, weaknesses, or workforce-comparison requests; follow nextOffset until null for the complete filtered cohort. Returns: factual visible-cohort ranks, performance scores, measured evidence, attention signals, counts, pagination, and guidance for human review.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeesAnalyticsInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeesAnalyticsResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  evaluatedEmployeeCount: 1
                  evidenceWindow:
                    endDate: 2026-01-15
                    inclusive: true
                    startDate: 2026-01-15
                    timeZone: UTC
                  exactCohort: false
                  hasMore: false
                  items:
                    - {}
                  nextOffset: 1
                  offset: 1
                  returnedEmployeeCount: 1
                  safety: {}
                  scoredEmployeeCount: 75
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: employees.analytics
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use first for best-performer, needs-attention, strengths, weaknesses, or workforce-comparison requests; follow nextOffset until null for the complete filtered cohort
      x-jointl-side-effects: Read-only.
  /api/v1/operations/employees.get:
    post:
      tags:
        - Operations
      operationId: executeEmployeesGet
      summary: Get one Employee
      description: |-
        Return the profile, current work context, recent visible activity, and optional performance evidence for one authorized Employee.

        Use when: Use after search, list, or analytics when one Employee needs contextual or performance detail; set includeEvidence=false only for lightweight profile metadata. Returns: profile, position, company, manager, tags and compensation-access metadata, plus optional Team Pulse, Glow Moments, exit, and work evidence.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeesGetInput"
            example:
              employeeId: employeeid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeesGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  evidence: {}
                  evidenceIncluded: false
                  profile: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: employees.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after search, list, or analytics when one Employee needs contextual or performance detail; set includeEvidence=false only for lightweight profile metadata
      x-jointl-side-effects: Read-only.
  /api/v1/operations/employees.exitIntelligence.get:
    post:
      tags:
        - Operations
      operationId: executeEmployeesExitIntelligenceGet
      summary: Get Exit Intelligence result
      description: |-
        Return the latest or one exact authorized Exit Intelligence request for a visible Employee, including completed answers and calculated metrics. Public access tokens are never returned.

        Use when: Use after an exit_intelligence.completed Zapier event, passing its request ID when available so a later request cannot replace the intended result. Returns: the visible Employee summary and zero or one non-cancelled Exit Intelligence request with its Flow, form, metrics, and answered questions.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeesExitIntelligenceGetInput"
            example:
              employeeId: employeeid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/EmployeesExitIntelligenceGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  employee: {}
                  requests:
                    - {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: employees.exitIntelligence.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - zapier
      x-jointl-mcp-exposed: false
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after an exit_intelligence.completed Zapier event, passing its request ID when available so a later request cannot replace the intended result
      x-jointl-side-effects: Read-only.
  /api/v1/operations/talents.list:
    post:
      tags:
        - Operations
      operationId: executeTalentsList
      summary: List Talent Pool profiles
      description: |-
        List company-scoped Talent Pool profiles. Profiles without an authorized company match are not returned.

        Use when: Use to browse and filter the authorized Talent Pool and obtain profile IDs; use talents.get for one profile. Returns: a cursor-paginated list of scoped Talent Pool summaries, statuses, experience and evidence metrics allowed by the role.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TalentsListInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TalentsListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  hasMore: false
                  items:
                    - _id: _id_example_01
                      firstName: Ada
                      lastName: Example
                      status: active
                  nextCursor: null
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: talents.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use to browse and filter the authorized Talent Pool and obtain profile IDs; use talents.get for one profile
      x-jointl-side-effects: Read-only.
  /api/v1/operations/talents.get:
    post:
      tags:
        - Operations
      operationId: executeTalentsGet
      summary: Get one Talent Pool profile
      description: |-
        Return the profile and optional evidence overview for one company-scoped Talent Pool person.

        Use when: Use after search or talents.list for one profile; use talents.references.list only when itemized reference responses are specifically needed and permitted. Returns: profile, contact and extracted experience data, plus optional achievements, work, notes, answer signals and cross-verified attributes.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TalentsGetInput"
            example:
              talentId: talentid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TalentsGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  evidence: {}
                  evidenceIncluded: false
                  profile: {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: talents.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use after search or talents.list for one profile; use talents.references.list only when itemized reference responses are specifically needed and permitted
      x-jointl-side-effects: Read-only.
  /api/v1/operations/talents.references.list:
    post:
      tags:
        - Operations
      operationId: executeTalentsReferencesList
      summary: List Talent Pool reference responses
      description: |-
        Return reference responses only when both Talent Pool and response permissions allow it.

        Use when: Use only for itemized authorized reference responses on one Talent Pool profile; talents.get is the normal profile and evidence path. Returns: normalized reference responses and average reference metrics, with third-party identities masked when required.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TalentsReferencesListInput"
            example:
              talentId: talentid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/TalentsReferencesListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  avgMetrics:
                    - {}
                  references:
                    - {}
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: talents.references.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use only for itemized authorized reference responses on one Talent Pool profile; talents.get is the normal profile and evidence path
      x-jointl-side-effects: Read-only.
  /api/v1/operations/autopilots.list:
    post:
      tags:
        - Operations
      operationId: executeAutopilotsList
      summary: List Autopilots
      description: |-
        List Autopilot groups available through the member’s current permissions and Flow or company access. Shareable access links are omitted from list results.

        Use when: Use to find an Autopilot group, inspect status and Check counts, or obtain a group ID; use autopilots.get only when its public links are needed. Returns: a cursor-paginated list of visible Autopilot summaries without shareable access links.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutopilotsListInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AutopilotsListResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  hasMore: false
                  items:
                    - _id: _id_example_01
                      checksTotal: 1
                      flowId: flowid_example_01
                      status: active
                      title: Example title
                  nextCursor: null
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: autopilots.list
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use to find an Autopilot group, inspect status and Check counts, or obtain a group ID; use autopilots.get only when its public links are needed
      x-jointl-side-effects: Read-only.
  /api/v1/operations/autopilots.get:
    post:
      tags:
        - Operations
      operationId: executeAutopilotsGet
      summary: Get Autopilot and public links
      description: |-
        Return one visible Autopilot and its reusable public access links. Anyone holding an active link can start the attached Flow.

        Use when: Use only when the user needs to inspect one known Autopilot or retrieve its links for an intended audience; do not expose links from a broad list. Returns: Autopilot status, Flow context, Check count, enabled sections, public links, and a sharing warning.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AutopilotsGetInput"
            example:
              autopilotGroupId: autopilotgroupid_example_01
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/AutopilotsGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  autopilotGroupId: autopilotgroupid_example_01
                  capabilityWarning: Treat returned URLs as private bearer capabilities and share them only with the intended recipient.
                  checksTotal: 1
                  createdAt: 2026-01-15
                  flowId: flowid_example_01
                  publicLinks:
                    - example
                  status: active
                  title: Example title
                requestId: request_example_01
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          $ref: "#/components/responses/Conflict"
        "413":
          $ref: "#/components/responses/TooLarge"
        "429":
          $ref: "#/components/responses/RateLimited"
        "500":
          $ref: "#/components/responses/ServerError"
        "503":
          $ref: "#/components/responses/Unavailable"
      x-jointl-logical-operation: autopilots.get
      x-jointl-scope: workspace.read
      x-jointl-audiences:
        - rest
        - mcp
      x-jointl-mcp-exposed: true
      x-jointl-confirmation-required: false
      x-jointl-destructive: false
      x-jointl-retry-safety: safe-read
      x-jointl-standing-automation: false
      x-jointl-prerequisites: Use only when the user needs to inspect one known Autopilot or retrieve its links for an intended audience; do not expose links from a broad list
      x-jointl-side-effects: Read-only.
  /api/v1/operations/insights.get:
    post:
      tags:
        - Operations
      operationId: executeInsightsGet
      summary: Get Jointl Insights
      description: |-
        Return the General, Performance, or Exit Intelligence view available to the member for an inclusive UTC date range, using the same calculations shown in Jointl.

        Use when: Use for workspace activity and completion metrics, team performance evidence, or Exit Intelligence themes; select one view and supply both dates when the user specifies a period. Returns: the selected Insights dataset plus the applied view, inclusive UTC dates, and company, Flow, and role filters.
      security:
        - JointlOAuth:
            - workspace.read
        - JointlApiKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InsightsGetInput"
            example: {}
      responses:
        "200":
          description: Operation completed.
          headers:
            X-Request-Id:
              $ref: "#/components/headers/RequestId"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/InsightsGetResult"
                  requestId:
                    type: string
                    description: Request correlation identifier.
                required:
                  - data
                  - requestId
                additionalProperties: false
              example:
                data:
                  data:
                    summary:
                      activeChecks: 12
                      activeEmployees: 34
                  dateRange:
                    endDate: 2026-01-15
                    inclusive: true
[...]
